.supercss_4emp_01 .container {
  max-width: 32em;
  margin: 0 auto;
  padding: 1em;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.supercss_4emp_01 .clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.supercss_4emp_01 .container img {
  float: left;
  width: 8.3em;
  height: auto;
  margin-right: 1em;
  border: 2px solid gray;
  border-radius: 0.8em;
}

.supercss_4emp_01 .container h1 {
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
}

.supercss_4emp_01 .container p {
  font-size: 1em;
  line-height: 1.8;
}

